/logs/
/cloud/
*.class
/client/src/main/resources/заметки.txt
/common/src/main/resources/заметки.txt
/server/src/main/resources/заметки.txt
/client/target/classes/window.fxml
/server/target/classes/заметки.txt
/common/target/classes/заметки.txt
/client/target/classes/заметки.txt
/common/logs/client.log
/server/logs/client.log
/common/logs/common.log
/server/logs/common.log
/common/logs/server.log
/server/logs/server.log
/hs_err_pid11064.log
/replay_pid11064.log
/common/src/main/java/ru/gb/simplenas/common/services/impl/TestInboundHandler.java
/local.properties
/server.properties
/common/src/main/java/ru/gb/simplenas/common/TestTestTest.java
/client/target/classes/dlglogin.fxml
/client/target/classes/styles.css
/desktop.ini
/описание.txt
/excluded.files/заметки.txt
/excluded.files/описание.txt
/excluded.files/кусочки.java
/client/src/main/java/ru/gb/simplenas/client/CPoligon.java
/server/src/main/java/ru/gb/simplenas/server/SPoligon.java
